$color1: purple;
$color2: blue;

%text{
  font-family: Arial, sans-serif;
}


table {
  border-collapse: collapse;
}

table, th, td {
  text-align: center;
  width: 50px,50px,auto;
  border: 1px solid black;
}

div{
  border: 1px;
  padding: 5px;
  border-style: dashed;
  border-color: $color2;
}

body{
  padding: 20px;
}


h1 {
  @extend %text;
  color : $color1;
}
h2 {
  @extend %text;
  color : $color2;
}

.emphasis{
  font-weight: bold;
  color: #329da8;
}

#amirite{
  font-weight: bold;
}

@media (min-width :1000px) {
  #disappear{
    font-size: 9px;
  }
  #appear{
    display:none;
  }

}

@media (max-width :999px) {
  #disappear{
    display:none;
  }
  #appear{
    font-size: 48px;
  }

}
